@model LoginViewModel
@{
    ViewData["Tittle"] = "Авторизация";
}

<div>
    <body style="background-color: azure;">
        <font size="2" color="black" face="Arial" align="center">
            <form action="/login" method="post">
                <p>
                    <label>Email</label>
                    <input name="Email" type="text" value="@Model.Email" />
                    <div class="error">@Html.ValidationMessageFor(m => m.Email)</div>
                </p>
                <p>
                    <label>Пароль</label>
                    <input name="Password" type="password" />
                </p>
                <button>Авторизация</button>
            </form>
        </font>
    </body>
</div>