@model IEnumerable<Website.DAL.Models.ProfileModel>

@{
    ViewData["Title"] = "Домашняя страница";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    <div class="row">
        @foreach (var aboutofstudent in Model)
        {
            <div class="col-sm-4 col-md-3">
                <a href="/aboutofstudent.ProfileId"><img src="@aboutofstudent.ProfileImage" class="profileimage" /></a>
                <h3>@aboutofstudent.FirstName @aboutofstudent.LastName</h3>
                <div>@aboutofstudent.ProfileName</div>
            </div>
        }
    </div>
</div>